  <!-- This is the base html view page which will be loaded into into another views-->

{% load static %}  <!-- This will load the static file in the html like css -->

<html>
    <head>
        <title >My Blog</title>
        <!--Bootstrap -->

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        <link href="https://fonts.google.com/specimen/Montserrat?selection.family=Montserrat|Roboto" rel="stylesheet" type="text/css">

        <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    </head>
<body>
    <div class="page-header">
    {% if user.is_authenticated %}    <!-- This part will show only when user is authenticated -->
        
        <a href="{% url 'logout' %}" class="top-menu"><span class="glyphicon glyphicon-off"></span></a>
        
        <a href="{% url 'post_new' %}" class="top-menu down"><span class="glyphicon glyphicon-plus"></span></a>
        <a href="{% url 'post_draft_list' %}" class="top-menu down"><span class="glyphicon glyphicon-edit"></span></a>
        <p class="top-menu"><small>Hello {{ user.username }} </small></p>
    {% else %}
        <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
    {% endif %}
    <h1><a href="/">Akdas's Blog</a></h1>
</div>
    <div class="content container">
        <div class="row">
            <div class="col-md-12">
            {% block content %} <!--Importing post details block -->
            {% endblock %}
            </div>
        </div>
    </div>
</body>

</html>